html {
    box-sizing: border-box;
    font-size: 16px;
}

html,
body {
    font-family: 'TT Lakes';
}

* {
    margin: 0px;
    padding: 0px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    font-weight: normal;
    padding: 0;
    list-style-type: none;
    font-family: 'TT Lakes';
}

ol,
ul {
    list-style: none;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('TTLakes-Medium.woff2') format('woff2'),
        url('TTLakes-Medium.woff') format('woff'),
        url('TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Compressed';
    src: url('TTLakesCompressed-Black.eot');
    src: local('TT Lakes Compressed Black'), local('TTLakesCompressed-Black'),
        url('TTLakesCompressed-Black.eot?#iefix') format('embedded-opentype'),
        url('TTLakesCompressed-Black.woff2') format('woff2'),
        url('TTLakesCompressed-Black.woff') format('woff'),
        url('TTLakesCompressed-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Condensed';
    src: url('TTLakesCondensed-Bold.eot');
    src: local('TT Lakes Condensed Bold'), local('TTLakesCondensed-Bold'),
        url('TTLakesCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTLakesCondensed-Bold.woff2') format('woff2'),
        url('TTLakesCondensed-Bold.woff') format('woff'),
        url('TTLakesCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


/* ............................................... */
.flex {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.wrapper {
    max-width: 320px;
    padding: 0 12px;
}

.main {
    width: 100%;
    background-color: #F8F8F8;
}

.bg-color {
    background-color: #ffffff;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .header__block-1,
.header .header__block-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 88px;
}

.header .header__block-2 {
    gap: 16px;
}

.header__top button.header__btn_color {
    width: 40px;
    height: 40px;
    background-color: #FF3E79;
    border: none;
    border-radius: 50%;
    padding: 12px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__line {
    position: relative;
    left: 16px;
}

.header__line::before {
    content: '';
    position: absolute;
    top: -5px;
    right: -15px;
    z-index: 1;
    background-color: #EAEAEA;
    width: 2px;
    height: 32px;
    margin-top: 18px;
}

.header__line::after {
    content: '';
    position: absolute;
    top: -5px;
    left: -15px;
    z-index: 1;
    background-color: #EAEAEA;
    width: 2px;
    height: 32px;
    margin-top: 18px;
    display: none;
}

.header__block-2 button.header__btn-1,
.header__block-2 button.header__btn-2,
.header__block-2 button.header__btn-3 {
    display: none;
}

.header__block-2 .header__btn-3 {
    margin-right: 12px;
}

.header__btn-4 {
    position: relative;
}

.header__btn-4::before {
    content: '';
    position: absolute;
    top: -12px;
    left: -15px;
    z-index: 1;
    background-color: #EAEAEA;
    width: 2px;
    height: 32px;
    margin-top: 18px;
    display: none;
}

.service {
    position: relative;
    display: none;
}

.service_down {
    display: block;
    padding: 24px 0px 32px 0px;
}

.service::after {
    content: '';
    position: absolute;
    top: 5px;
    left: -12px;
    z-index: 1;
    background-color: #41F6D7;
    width: 4px;
    height: 40px;
    margin-top: 18px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.service__title {
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;

}

.header__about-option {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 500;
}

.header__about-option p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    display: none;
}

.service__feedback {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    display: none;
}

.content__flex {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    flex-wrap: wrap;
}

.content__img {
    width: 320px;
    height: 210px;
    border-radius: 5px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.content__img-1 {
    width: 320px;
    height: 210px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
}

.content__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}

.content__text_margin {
    padding-top: 20px;
    display: none;
}

.content__div {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 0px;
}

.content__block-1 {
    width: 288px;
    color: #1B1C21;
}

.content__feedback {
    color: #7E7E82;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding-top: 14px;
    display: none;
    font-weight: 500;
}

.list__option {
    width: 246px;
    height: 40px;
    font-size: 13px;
    font-family: 'TT Lakes';
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 8px 6px;
    color: #7E7E82;
    font-weight: 500;
}

.list__flex {
    display: flex;
    gap: 10px;
    width: 1050px;
}

.active {
    background: #FFFFFF;
    border: 1px solid #B8FFEC;
}

.list {
    overflow-x: scroll;
}

.aside-part {
    display: none;
}

/* ........................................... */

.slider {
    padding-top: 50px;
}

.brans_hidden {
    display: block;
}

.slider__next {
    display: none;
}

.slider__block-text {
    background-color: white;
    display: flex;
    align-items: center;
    height: 55px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    font-family: 'TT Lakes';
    color: #7E7E82;

}

.slider__content {
    margin-left: 16px;
    width: 300px;
}

.brans {
    width: 240px;
    height: 72px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
}

.brans__center {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

.brans__next {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #FF3E79;
    background-color: white;
}

.slider__flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 32px;
}

.slider__block-position {
    width: 320px;
    padding-top: 24px;
    padding-bottom: 50px;
}

.slider__flex-hid {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 32px;
    width: 1056px;
}

/* .slider__hidden {
    display: none;
} */

.slider__next {
    padding: 24px 0px 0px 31px;
}

.slider__btn {
    display: flex;
    gap: 8px;
    border: none;
    background-color: #F8F8F8;
}

.slider__btn p {
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
}

/*  */

.slider__block-position {
    display: none;
}

/*  */

.swiper {
    width: 320px;
    /* padding: 10px !important; */
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    position: static;
    /* top: 60px !important; */
    margin-top: 20px;
}

.mobi-vir {
    padding: 16px 0px 24px 0px;
    display: block;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-wrapper {
    width: 92% !important;
}

/* .swiper-slide:nth-child(2n) {
    width: 60%;
}

.swiper-slide:nth-child(3n) {
    width: 40%;
} */


/* ........................................... */

.remont__block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    padding-top: 25px;
    width: 1102px;
}

.remont__appir {
    display: none;
}

.slider__next_pading {
    padding-bottom: 50px;
}

.remont__flex {
    width: 240px;
    height: 160px;
    background-color: white;
    border-radius: 6px;
    border: 1px solid #EAEAEA;

    display: flex;
    justify-content: space-between;
}

.remont__flex_hid {
    display: none;
}

.remont__hiden {
    display: flex;
    justify-content: center;
    width: 1102px;
    padding-top: 25px;
}

.remont__hiden-flex {
    display: flex;
    justify-content: start;
    gap: 32px;
    width: 1057px;
}

.remont__flex p {
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;

    padding: 16px 0px 0px 16px;
}

.remont__item {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: inherit;
}

.remont__item button {
    margin: 0px 16px 16px 0px;
}


.remont__block {
    display: none;
}

.remont__flex_s,
.brans_s {
    display: none
}


/* .............................. */
.offers__block-text {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 64px;
}

.offers__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1056px;
    height: inherit;

    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #7E7E82;
}

.offers__text-1 {
    margin-left: 24px;
}

.offers__type-2 {
    display: flex;
    justify-content: space-between;
    width: 315px;

    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #7E7E82;
}

.offers__type {
    width: 570px;
    display: flex;
    justify-content: start;
}

.offers__fix {
    display: flex;
    justify-content: center;
    width: 100%;
}

.offers__block {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 260px;
    height: 200px;
    background-color: white;
    border-radius: 6px;
}

div.offers__flex_none {
    border: none;
}

.offers__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1008px;
    height: 64px;
    border-bottom: 1px solid #EAEAEA;
}


.offers__left {
    font-family: 'TT Lakes';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}

.offers__right {
    display: flex;
}

.offers__rt-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 315px;
    margin-right: 111px;
}

.offers__rt-flex p {
    color: #1B1C21;
    font-size: 14px;
}


.offers__btn {
    width: 120px;
    height: 32px;
    background-color: #FF3E79;
    border-radius: 16px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.offers__btn-size {
    width: 99px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offers__btn p {
    font-family: 'TT Lakes';
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.15px;
    text-align: right;
    text-transform: uppercase;
    color: white;
}

.offers__hidden {
    display: none;
}

.offers__1 {
    display: flex;
    flex-direction: column;
    text-align: left;

    width: 228px;
    height: 168px;
}

.offers__2 {
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #7E7E82;
}

.offers__3 {
    font-family: 'TT Lakes';
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
    margin-bottom: 16px;
}

.offers__4 {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

/* ....................................... */

.chake {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    height: 224px;

    padding-top: 16px;
}

.chake__top {
    width: 288px;

    font-family: 'TT Lakes';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}

.chake__botom {
    width: 192px;
    height: 54px;
    margin-top: 16px;

    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;


    /* display: flex; */
}

.chake__text {
    position: relative;
}

.chake__text::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 12px;
    background-image: url(/image/next.png);
    background-size: 8px 12px;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-top: 7px;
}

/* .................................. */
.footer {
    background-color: #F8F8F8;
}

.footer__block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 288px;
    height: 130px;
    margin: 0 auto;

    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: #7E7E82;
}

.ob {
    display: block;
    position: relative;
    z-index: 10;
}

.recla__hidden2 {
    display: none;
    position: relative;
    z-index: 11;
}

/* ................... */
.recla__hidden {
    display: none;
    position: relative;
    z-index: 11;
}

.aside__right {
    width: 320px;
    /* 440px*/
    height: 100%;
    background-color: #ffffff;
    box-shadow: 0px 0px 4px 0px #454f7e59;

    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
}

.recla__conect {
    position: relative;
}

.recla__conect::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -16px;
    /* -32px*/
    z-index: 1;
    background-color: #41F6D7;
    width: 4px;
    height: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.recla__conect p {
    font-family: 'TT Lakes';
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    color: #1B1C21;
}

.recla {
    width: 288px;
    /*376px*/
    height: 460px;
    padding-top: 100px;
    /*40px*/

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.recla__input {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.recla__input input,
textarea {
    height: 48px;
    border: 1px solid #EAEAEA;
    border-radius: 8px;

    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;

    padding: 12px 0px 12px 16px;

}

.recla__input textarea {
    height: 118px;
}

.recla__input p {
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #7E7E82;
}

.recla__input p span {
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0px;
    color: #FF3E79;
}

.recla__btn {
    width: 136px;
    height: 32px;
    background-color: #FF3E79;
    border-radius: 16px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
}

.recla__block {
    display: flex;
    justify-content: end;

    width: 100%;
    height: 100%;
}

.recla__btn p {
    font-family: TT Lakes;
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: -0.15px;
    text-align: right;
    text-transform: uppercase;
    color: white;
}

.recla__x {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FF3E79;

    display: flex;
    justify-content: center;
    align-items: center;
}

.recla__y {
    position: absolute;
    z-index: 12;
    /* top: -5px;
    left: -90px; */

    top: -67px;
    left: 0px;

    border: none;
    background-color: #ffffff;
}

.fon-2 {
    width: 982px;
    height: 100%;
    background-color: #ffffffdd;
    position: absolute;
    top: 0;
    right: 440px;
    z-index: 11;
}

@media (min-width: 770px) {
    
    .recla__y {
        position: absolute;
        z-index: 12;
        top: -5px;
        left: -90px;

        border: none;
        background-color: #ffffff;
    }



    .aside__right {
        width: 440px;
        height: 100%;
        background-color: #FFFFFF;
        /* box-shadow: -2px 0px 4px 0px #454f7ed2; */

        position: absolute;
        top: 0;
        right: 0;

        display: flex;
        justify-content: center;
    }

    .recla {
        width: 376px;
        height: 460px;
        padding-top: 40px;

        display: flex;
        flex-direction: column;
        gap: 24px;
    }


    .recla__conect::after {
        content: '';
        position: absolute;
        top: -4px;
        left: -32px;
        z-index: 1;
        background-color: #41F6D7;
        width: 4px;
        height: 40px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }


    div.aside-part {
        box-shadow: 36px 0px 24px 0px #0e18507d;
        display: block;

        position: absolute;
        z-index: 10;
        height: 248%;
    }

    div.ob {
        display: none;
    }

    .btn-2 {
        display: none;
    }


    div.fon {
        width: 450px;
    }

    .footer__text-1 {
        text-align: left;
        width: 218px;
    }

    .footer__text-2 {
        width: 214px;
    }


    .footer__text-3 {
        text-align: right;
        width: 213px;
    }


    .footer__block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 720px;
        height: 70px;
    }

    .chake__botom {
        width: 295px;
    }


    .chake__top {
        width: 421px;
    }

    .chake {
        width: 479px;
        padding-top: 24px;
    }

    .offers__hidden {
        display: block;
    }

    .offers__type-2 {
        width: 177px;
    }

    .offers__text {
        width: 720px;
    }


    .offers__type {
        width: 334px;
    }


    .offers__rt-flex {
        width: 177px;
        margin-right: 20px;
    }

    .offers__flex {
        width: 690px;
    }

    .offers__block {
        width: 720px;
        height: 324px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .remont__block {
        display: flex;
    }


    .remont__hiden {
        width: 770px;
    }


    .remont__hiden-flex {
        width: 737px;
    }


    .remont__block {
        width: 770px;
    }

    .remont__flex {
        width: 224px;
    }

    .mobi-vir {
        display: none;
    }

    .list__option {
        width: 248px;
    }

    .slider__block-position {
        display: block;
    }


    .slider__next {
        display: block;
    }

    .slider__content {
        margin-left: 24px;
    }

    .slider__content {
        width: 400px;
    }

    .brans__appir {
        display: block;
        display: flex;
        justify-content: center;
    }

    .slider__flex-hid {
        width: 736px;
    }

    .slider__block-position {
        width: 770px;
    }

    .brans_hidden {
        display: none;
    }

    .brans {
        width: 224px;
    }

    .wrapper {
        max-width: 770px;
        padding: 0px 20px;
    }

    .header__line {
        left: 35px;
    }

    .header__line::after {
        display: block;
    }

    .header__line::before {
        display: none;
    }

    .header__block-2 button.header__btn-1,
    .header__block-2 button.header__btn-2,
    .header__block-2 button.header__btn-3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__btn-4::before {
        display: block;
    }

    .content__block-1 {
        width: 312px;
    }

    .content__text_margin {
        display: block;
    }

    .content__div {
        padding-left: 5px;
    }

    .content__img {
        width: 360px;
        height: 210px;
    }

    .service_down {
        display: block;

    }


    .service::after {
        top: 6px;
        left: -20px;
    }

}

@media (min-width: 1400px) {
    .recla__y {
        position: absolute;
        z-index: 12;
        top: -5px;
        left: -90px;

        border: none;
        background-color: #ffffff;
    }


    .aside__right {
        width: 440px;
        height: 100%;
        background-color: #FFFFFF;
        /* box-shadow: -2px 0px 4px 0px #454f7ed2; */

        position: absolute;
        top: 0;
        right: 0;

        display: flex;
        justify-content: center;
    }

    .recla {
        width: 376px;
        height: 460px;
        padding-top: 40px;

        display: flex;
        flex-direction: column;
        gap: 24px;
    }


    .recla__conect::after {
        content: '';
        position: absolute;
        top: -4px;
        left: -32px;
        z-index: 1;
        background-color: #41F6D7;
        width: 4px;
        height: 40px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    div.aside-part {
        background-color: white;
        box-shadow: -35px 0px 120px 0px #0E185033;
        display: block;
        position: sticky;
        z-index: -1;
        height: 100%;
    }



    div.ob {
        display: block;
    }

    div.obj {
        display: block;
    }


    div.fon {
        width: 0px;
    }


    .aside-part {
        position: static;
        height: 100%;
    }


    .aside__flex a {
        display: none;
    }

    .footer__text-1 {
        text-align: left;
        width: 218px;
    }

    .footer__text-2 {
        width: 214px;
    }


    .footer__text-3 {
        text-align: right;
        width: 213px;
    }


    .footer__block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 1056px;
        height: 70px;
    }


    .offers__hidden {
        display: block;
    }

    .offers__type-2 {
        width: 315px;
    }

    .offers__text {
        width: 1056px;
    }

    .offers__type {
        width: 570px;
    }


    .offers__rt-flex {
        width: 315px;
        margin-right: 111px;
    }

    .offers__flex {
        width: 1008px;
    }

    .offers__block {
        width: 1056px;
        height: 324px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .remont__block {
        display: flex;
    }


    .remont__hiden-flex {
        width: 1057px;
    }

    .remont__hiden {
        width: 1102px;
    }

    .remont__block {
        width: 1102px;
    }


    .remont__flex_hid {
        display: flex;
    }

    .remont__flex {
        width: 240px;
    }


    .mobi-vir {
        display: none;
    }

    .list__option {
        width: 233px;
    }

    .slider__block-position {
        display: block;
    }

    .slider__next {
        display: block;
    }


    .slider__content {
        margin-left: 32px;
    }

    .slider__content {
        width: 400px;
    }

    .brans__appir {
        display: none;
    }

    .slider__flex-hid {
        width: 1056px;
    }

    .slider__block-position {
        width: 1102px;
    }

    .brans {
        width: 240px;
        height: 72px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        border: 1px solid #EAEAEA;
    }

    .brans_hidden {
        display: block;
        display: flex;
        justify-content: center;
    }

    .aside-part {
        display: block;
    }

    .wrapper {
        max-width: 1120px;
        padding: 0px 25px;
    }

    .bg-color {
        background-color: #F8F8F8;
    }

    .service {
        display: block;
    }


    .service::after {
        top: -18px;
        left: -25px;
    }

    .header__nav,
    .header__line {
        display: none;
    }

    .header__block-2 button.header__btn-1,
    .header__block-2 button.header__btn-2,
    .header__block-2 button.header__btn-3 {
        display: none;
    }

    .header__btn-4::before {
        display: none;
    }

    .header__about-option p {
        display: block;
    }

    .service__text {
        display: block;
    }

    .content__block-1 {
        width: 490px;
    }

    .content__img {
        width: 530px;
        height: 310px;
    }

    .content__feedback {
        display: block;
    }

    .service_down {
        display: none;
    }

}