// common
:root {
        --turquoise: #41F6D7;
        --white: #ffffff;    
        --text: #1B1C21;    
        --light-pink: #FF3E79;
        --grey: #7E7E82;
        --light-grey: #EAEAEA; 
        --dark-blue: #0e18507d;
        --white-low: #F8F8F8;      
}

// aside
:root {
    --bg-color-aside: rgba(255, 255, 255, 0.87);
    --light-grey-aside: #EAEAEA;
    
}

// aside-contact
:root {
    --shodow-aside-contact: #454f7e59;
    --bg-color-aside-contact: #ffffffdd;
}

// header-content
:root {
    --turquoise-light-header-content: #B8FFEC;
}
