@font-face {
    font-family: 'TT Lakes Regular';
    src: url('../fonts/TT\ Lakes\ Neue\ Trial\ Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Bold';
    src: url('../fonts/TT\ Lakes\ Neue\ Trial\ Bold.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Medium';
    src: url('../fonts/TT\ Lakes\ Neue\ Trial\ Medium.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes Mini';
    src: url('../fonts/TT\ Lakes\ Neue\ Trial\ Light.ttf');
    font-weight: 400;
    font-style: normal;
}