.service {
    position: relative;
    display: none;
}

.service_down {
    display: block;
    padding: 24px 0px 32px 0px;
}

.service::after {
    content: '';
    position: absolute;
    top: 5px;
    left: -12px;
    z-index: 9;
    background-color: var(--turquoise);
    width: 4px;
    height: 40px;
    margin-top: 18px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.service__title {
    font-size: 30px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;

    font-family: 'TT Lakes Bold';
}

.service__feedback {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: var(--grey);
    display: none;
}

.content__flex {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    flex-wrap: wrap;
}

.content__img {
    width: 320px;
    height: 210px;
    margin-top: 20px;
    border-radius: 5px;
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.content__img-1 {
    width: 320px;
    height: 210px;
    border-radius: 5px;
    background-position: center;
    background-size: cover;
}

.content__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: var(--text);
    font-family: 'TT Lakes Mini';
}

.content__text_margin {
    padding-top: 20px;
    display: none;
}

.content__div {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 16px 0px;
}

.content__block-1 {
    width: 288px;
    color: var(--text);
}

.content__feedback {
    color: var(--grey);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding-top: 14px;
    display: block;
    font-weight: 500;
}

.list__option {
    width: 246px;
    height: 40px;
    font-size: 13px;
    font-family: 'TT Lakes';
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 8px 6px;
    color: var(--grey);
    font-weight: 500;
}

.list__flex {
    display: flex;
    gap: 10px;
    width: 1050px;
}

.active {
    background: var(--white);
    border: 1px solid var(--turquoise-light-header-content);
}

.list {
    overflow-x: scroll;
}

.content__margin {
    padding-top: 20px;
}

.content__open {
    border: none;
    height: 20px;
    display: flex;
    align-items: center;
    background-color: var(--white-low);
    padding-top: 20px;
    cursor: pointer;
}

.content__hid {
    padding-bottom: 20px;
}