@media (min-width: 1400px) {
    .recla__y {
        position: absolute;
        z-index: 12;
        top: -5px;
        left: -90px;

        border: none;
        background-color: var(--white);
    }


    .aside__right {
        width: 440px;
        height: 100%;
        background-color: var(--white);
        /* box-shadow: -2px 0px 4px 0px #454f7ed2; */

        position: absolute;
        top: 0;
        right: 0;

        display: flex;
        justify-content: center;
    }
    
    // .recla__hidden2 {
    //     display: none;
    //     position: relative;
    //     z-index: 11;
    // }


    .recla {
        width: 376px;
        height: 460px;
        padding-top: 40px;

        display: flex;
        flex-direction: column;
        gap: 24px;
    }


    .recla__conect::after {
        content: '';
        position: absolute;
        top: -4px;
        left: -32px;
        z-index: 1;
        background-color: var(--turquoise);
        width: 4px;
        height: 40px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    div.aside-part {
        background-color: var(--white);
        box-shadow: 0px 0px 10px 0px var(--dark-blue);
        display: block;
        position: sticky;
        z-index: -1;
        height: 100%;
    }



    div.ob {
        display: block;
    }

    div.obj {
        display: block;
    }


    div.fon {
        width: 0px;
    }


    .aside-part {
        position: static;
        height: 100%;
    }


    .aside__flex a {
        display: none;
    }

    .footer__text-1 {
        text-align: left;
        width: 218px;
    }

    .footer__text-2 {
        width: 214px;
    }


    .footer__text-3 {
        text-align: right;
        width: 213px;
    }


    .footer__block {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 1056px;
        height: 70px;
    }


    .offers__hidden {
        display: block;
    }

    .offers__type-2 {
        width: 315px;
    }

    .offers__text {
        width: 1056px;
    }

    .offers__type {
        width: 570px;
    }


    .offers__rt-flex {
        width: 315px;
        margin-right: 111px;
    }

    .offers__flex {
        width: 1008px;
    }

    .offers__block {
        width: 1056px;
        height: 324px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .remont__block {
        display: flex;
    }


    .remont__hiden-flex {
        width: 1057px;
    }

    .remont__hiden {
        width: 1102px;
    }

    .remont__block {
        width: 1102px;
    }


    .remont__flex_hid {
        display: flex;
    }

    .remont__flex {
        width: 240px;
    }


    .mobi-vir {
        display: none;
    }

    .list__option {
        width: 233px;
    }

    .slider__block-position {
        display: block;
    }

    .slider__next {
        display: block;
    }


    .slider__content {
        margin-left: 32px;
    }

    .slider__content {
        width: 400px;
    }

    .brans__appir {
        display: none;
    }

    .slider__flex-hid {
        width: 1056px;
    }

    .slider__block-position {
        width: 1102px;
    }

    .brans {
        width: 240px;
        height: 72px;
        background-color: var(--white);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        border: 1px solid var(--light-grey);
    }

    .brans_hidden {
        display: block;
        display: flex;
        justify-content: center;
    }

    .aside-part {
        display: block;
    }

    .wrapper {
        max-width: 1120px;
        padding: 0px 25px;
    }

    .bg-color {
        background-color: var(--white-low);
    }

    .service {
        display: block;
    }


    .service::after {
        top: -18px;
        left: -25px;
    }

    .header__nav,
    .header__line {
        display: none;
    }

    .header__block-2 button.header__btn-1,
    .header__block-2 button.header__btn-2,
    .header__block-2 button.header__btn-3 {
        display: none;
    }

    .header__btn-4::before {
        display: none;
    }

    .header__about-option p {
        display: block;
    }

    .service__text {
        display: block;
    }

    .content__block-1 {
        width: 490px;
    }

    .content__img {
        width: 530px;
        height: 310px;
        margin-top: 0px;
    }

    .content__feedback {
        display: block;
    }

    .service_down {
        display: none;
    }
    
    .flex {
    display: flex !important;
    justify-content: center;
    width: 100%;
    height: 100%;
    }

    .content__hid {
        display: none;
    }

    .offers__rt-flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 315px;
        margin-right: 111px;
    }
}