@import '../scss/header.scss';
@import '../scss/normolise.scss';
@import '../scss/fonts.scss';
@import '../scss/header-content.scss';
@import '../scss/swiper-brand.scss';
@import '../scss/swiper-remont.scss';
@import '../scss/swiper-offers.scss';
@import '../scss/pre-footer.scss';
@import '../scss/footer.scss';
@import '../scss/aside-contact.scss';
@import '../scss/aside.scss';
@import '../scss/madia-mobile.scss';
@import '../scss/madia-notebook.scss';
@import '../scss/color.scss';


/* ............................................... */

.flex {
    display: block;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.wrapper {
    max-width: 100%;
    padding: 0 12px;
}

.main {
    width: 100%;
    background-color: var(--white-low);
}

.bg-color {
    background-color: var(--white);
    width: 100%;
}